@model Product
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Update/Edit Product</h2>

</div>



<div class="row" style="position:relative;z-index:100;">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="product_id" value="@Model.product_id" />

            <input type="text" placeholder="Enter Your product Name" name="product_name" class="form-control my-3" value="@Model.product_name" />

            <input type="text" placeholder="Enter Your price" name="product_price" class="form-control my-3" value="@Model.product_price" />
            <input type="text" placeholder="Enter Your product Description" name="product_description" class="form-control my-3" value="@Model.product_description" />

            @Html.Partial("CategoryDropdown", ViewData["category"])
            <input type="hidden" name="product_image" value="@Model.product_image" />

            <input type="submit" value="Update Product" class="form-control my-3 btn btn-primary" />
        </form>

        <form method="post" asp-action="ChangeProductImage" enctype="multipart/form-data">
            <input type="hidden" asp-for="product_id" />
            <input type="hidden" asp-for="product_name" />
            <input type="hidden" asp-for="product_price" />
            <input type="hidden" asp-for="product_description" />
            <input type="hidden" asp-for="cat_id" />

            <label>Change Product Image:</label>
            <input type="file" name="product_image" class="form-control my-3" />

            <img src="~/product_image/@Model.product_image" asp-append-version="true" style="width: 100px; height:100px" class="form-control my-3" />

            <input type="submit" value="Change Product Image" class="form-control my-3 btn btn-primary" />
        </form>
    </div>

    <div class="col-md-2"></div>
</div>


